* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(resources/home1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

nav span {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: 0.3s;
    width: 100%;
}

button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.content1 {
    color: white;
    margin-left: 10%;
    margin-top: 10%;

}

.content1 .para1 {
    font-size: 70px;
    font-weight: bold;
}

.content1 .para2 {
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0px;
}

.buttonset1 .button1 {
    border: 1px white solid;
    font-size: 15px;
    font-weight: bold;
}

.buttonset1 .button2 {
    border: 3px #ea1538 solid;
    background-color: white;
    color: #ea1538;
    font-size: 15px;
    font-weight: bold;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    margin: 30px 8% -40px 8%;
}

.logos-slide {
    display: inline-block;
    animation: slide 13s infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}

/*boxes part*/
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    /*background-color: rgb(210, 186, 186);*/
    padding: 0% 100px;

}

.box {
    height: 500px;
    width: 395px;
    background: #ea1538;
    margin: 10px;
    text-align: left;
    color: azure;
    padding: 0 37px;
    padding-top: 330px;
    border-radius: 10px;


}

.box span {
    color: azure;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    display: block;
}

.box button {
    margin-top: 10px;
    background: white;
    color: black;
    border-radius: 10px;
    font-weight: bolder;


}

#box1 {
    background-image: linear-gradient(rgba(230, 228, 228, 0.4), rgba(50, 46, 46, 0.5)), url(resources/box2.jpg);
    background-size: cover;
}

#box2 {
    background-image: linear-gradient(rgba(230, 228, 228, 0.4), rgba(50, 46, 46, 0.5)), url(resources/box1.jpg);
    background-size: cover;
}

#box3 {
    background-image: linear-gradient(rgba(230, 228, 228, 0.4), rgba(50, 46, 46, 0.5)), url(resources/box3.jpg);
    background-size: cover;
}

/*features*/

.line {
    background-color: rgb(255, 0, 0);
    width: 10%;
    height: 2px;
    margin-top: -30px;
    margin-bottom: 40px;
    margin-left: 45%;

}

.feature {
    background-color: aliceblue;
    padding-top: 40px;
}

.feature .header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 60px 0;
    margin-top: 80px;
}

.col {
    display: flex;
    flex-direction: column;
}

.card {
    
    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    background-color: #f2eeef;

}

.card .image {

    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card .content {
    color: black;
    font-weight: lighter;
    margin: 15px 0 0 10px;
    font-family: unset;
    line-height: 25px;

}

.feature .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5%;
}

.card .content .header {
    font-weight: bold;
    font-size: large;
}

.card .content .gender {
    font-weight: 500;
    color: rgb(106, 117, 128);
}

.card .content .price {
    font-weight: 500;
}

.selector{
    display: flex;
    flex-direction:row ;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 1px;
}

.red { background-color: rgb(255, 37, 37); }
.green { background-color: rgb(105, 221, 105); }
.blue { background-color: blue; }
.brown {background-color: rgb(168, 125, 67);}
.silver {background-color: rgb(146, 144, 142);}
.black {background-color: rgb(2, 2, 2);}
.lightblue {background-color: #00bbf4;}
.orange {background-color: #f48e00;}
.purple {background-color: #ef0eaf;}

#fbox1 {
    background-image: url(resources/card1.jpg);
    background-size: cover;
}

#fbox2 {
    background-image: url(resources/card2.jpg);
    background-size: cover;
}

#fbox3 {
    background-image: url(resources/card3.jpg);
    background-size: cover;
}

#fbox4 {
    background-image: url(resources/card4.jpg);
    background-size: cover;
}

#fbox5 {
    background-image: url(resources/card5.jpg);
    background-size: cover;
}

#fbox6 {
    background-image: url(resources/card6.jpg);
    background-size: cover;
}

#fbox7 {
    background-image: url(resources/card7.jpg);
    background-size: cover;
}

#fbox8 {
    background-image: url(resources/card8.jpg);
    background-size: cover;
}

#fbox9 {
    background-image: url(resources/card9.jpg);
    background-size: cover;
}

#fbox10 {
    background-image: url(resources/card10.jpg);
    background-size: cover;
}

                                    /*special edition*/

.specialedition{
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(resources/specialedition.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    padding-top: 6%;
    padding-left: 6%;
    margin-top: 6%;

}

.specialedition h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.specialedition h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.specialedition p{
    font-size: 15px;
    margin-bottom: 25px;
}

.specialedition button{
    background-color: #f2eeef;
    color:black;
    margin-top: 35px;
    border-radius: 0%;
}

                                        /*container 4*/
.container2{
    font-size: 25px;
    font-weight: bold;
    padding-left: 11%;
    margin-bottom: 50px;
    margin-top: 120px;
    border-top: 1px solid rgb(224, 221, 221);
    padding-top: 50px;
}


.container4 {
    
    
    justify-content: center;
     /* Adjust for content width */
    margin: 70px 6%;
    padding: 20px;
}

.services {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%; /* Make sure all services fit in a row */
}

.service {
    width: 240px; /* Adjust for margin and number of items */
    text-align: center;
    border-radius: 5px;
}

.service img {
    width: 50px;
    height: 50px; 
    margin-bottom: 10px;
}

.service h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.service p {
    font-size: 0.8em;
}

/*last part*/
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    border-top: 1px solid rgb(224, 221, 221);
    padding-top: 2%;
    padding-bottom: 6%;
}
.container3-1{
    flex: 30%;
    width: 100%;
    font-weight: bold;
    margin-left: 130px;
}

.container3-1 h2{
    margin-top: -45px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    font-style:italic ;
}

.container3-2{
    flex: 20%;
    width: 100%;
}

.container3-2 h4{
    font-size: 25px;
    font-weight: 10;
    margin-bottom: 30px;
    margin-top: 40px;
    
}

.list{
    list-style-type: none;
    font-size:smaller;
    padding: 0%;
}

.list li{
    padding:3px;
}
.container3-3{
    flex: 20%;
    width: 100%;
}

.container3-3 h4{
    font-size: 25px;
    font-weight: 10;
    margin-bottom: 30px;
    margin-top: 40px;
}


.container3-4{
    flex: 30%;
    width: 100%;
}

.container3-4 h3{
    font-size: 25px;
    font-weight: 10;
    margin-top: 20px;
    margin-bottom: 30px;
}

footer{
    padding-top: 33px;
    padding-right: 40px;
    padding-left: 40px;
    height: 100px;
    text-align: left;
    font-size: small;
    font-weight: bold;
    border-top: 1px solid rgb(224, 221, 221);
    

}

footer span{
   margin: 20px 0;
   font-size: 18px;
   font-weight: 1;
   margin-left: 120px;

}

footer i{
    font-size: large;
    float:right;
    margin-right: 30px;
}

footer i:hover{
    font-size: 25px;
    color: #ec0e33;
    cursor: pointer;
}
.card{
    height: 50vh;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    margin:1%;
}
.cardimg{
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}
.cardtext{
    padding: 5%;
}
.card:hover{
    background-color: rgb(244, 244, 244);
}
a{
    text-decoration: none;
}
