#navigation {
    float: right;
    width: 100%;
    background-color: black;
    align-content: center;
    padding: 100px;


}

#navigation ul {
    display: flex;
    margin-left: 25%;
}

#navigation li {
    
    float: inline-start;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
    list-style-type: none;
    padding-left: 5%;


}

#navigation li :hover {
    background: #383;

}