* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
   
}
body{
    background: rgb(245,247,249);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(nicki_minaj-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.run{
    height: 60vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
}
#logo{
    color:white;
    font-size: 28px;

}
nav span{
    color: red;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: 0.3s;
    width: 100%;

}
button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}
.rube1{
    display: flex;
    padding-top: 130px;
}
.sen1{
    flex: 18%;
    margin-left: 10%;
    

}
.form{
    margin-top: 100px;
    width: 100%;
}
.ruue{
    color: white;
    margin-left: 30%;
    font-size: 45px;
    font-weight: bold;
   
}
.sen1 form .control{
    width: 90%;
    height: 40px;
    background: transparent;
    border-color: white;
    margin: 10px 0 10px 0;
    padding: 0 10px;
    
}
.type{
    margin-bottom: 10px;
    position: relative;
    padding-top: 30px;
    color: white;
}
button1{
    border: none;
    background: orange;
    padding: 12px 30px;
    color: white;
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.sen2{
    margin-left: 15%;
    flex: 25%;
    color: white;
    padding-top: 80px;
}
.typec1{
    font-size: 57px;
    font-weight: bold;
}
p{
    padding-top: 25px;
    
   
}
footer{
    padding-top: 30px;
}
footer span{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 1;
    
 
 }
i{
    font-size: large;
    margin-right: 20px;
    padding-top: 30px;
}
i:hover{
    font-size: 25px;
    color: #ec0e33;
    cursor: pointer;
}
.eye{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 20px;
}
a1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
